.info {
  flex: 1;
  cursor: pointer;
}

.infobox--selected {
  border-top: 10px solid greenyellow;
}

.infobox--red {
  border-color: red;
}

.info:not(:last-child) {
  margin-right: 20px;
}

.info__title {
  margin-bottom: 10px !important;
}
.info__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.info__cases--green {
  color: lightgreen;
}

.info__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
